{% extends 'base.html.twig' %}

{% block title %}connexion | Izidore{% endblock %}

{% block content %}

<div class="vh-100 d-flex align-items-center" style="margin-top: -60px">
    <div class="container">
        <div class="row p-5 d-flex justify-content-center align-items-center">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <h1 class="display-4">Connexion</h1>
            </div>
            <div class="col-md-6 p-md-">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Votre email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Votre mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button class="btn bg-primary text-white" type="submit">
                        Se connecter
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
