*, :after, :before {
   box-sizing: border-box;
   list-style: none;
}

.sticky, .sticky-container {
   position: relative;
}

body {
   width: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
   color: #29362e;
}

body header.page-header {
   z-index: 1000025;
}

h1, h2, h3, h4, h5, h6, p {
   margin-top: 0;
   margin-bottom: 0;
}

.pointer {
   cursor: pointer;
}

