//COLOR
$primary: #56b68d;
.bg-primary {
   background-color: $primary !important;
}

$primary-2: #81c7a9;
.bg-primary-2 {
   background-color: $primary-2 !important;
}

$secondary: #ffd932;
.bg-secondary {
   background-color: $secondary !important;
   color: white;
}

.bg-green {
   background-color: #d6e3d8;
}

.text-green {
   color: #58b58d;
}

.bg-grey{
   background-color: #f7f7f7;
}