header.page-header {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	border: none;
}

#navbarSupportedContent {
	flex-grow: unset;
}

#navbar-input {
	height: 45px;
	background-color: #f7f7f7;
}

#header-search-btn {
	right: 0px;
	width: 70px;
}

nav ul {
	// flex-direction: row;
	height: 60px;
}

.navbar {
	height: 60px;
}

.cart-icon,
.favorite-icon,
.user-icon {
	height: 23px;
	width: 23px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	font-size: 60px;
}

.favorite-icon {
	background-image: url(../img/favourite.svg);
}

.user-icon {
	background-image: url(../img/user.svg);
}

.cart-icon {
	background-image: url(../img/cart.svg);
}

//HEADER BOTTOM
#header-bot {
	box-shadow: 0px -6px 9px -13px rgba(0, 0, 0, 0.74);
	z-index: 1020;
	margin-top: 60px;

	li {
		margin-right: 15px;
		font-size: 0.8em;
	}
}
