.announce-cover-image-section .announce-cover-image-blur-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.announce-cover-image-container {
	width: 100vw;
	height: 460px;
}

.announce-cover-image {
	background: url(../img/hero.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 780px;
}

.announce-cover-image-blur {
	background: no-repeat url(../img/blur.jpeg);
	background-size: 100vw 460px;
	width: 100%;
	height: 100%;
}

.announce-cover-image-section {
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
	height: 460px;
	width: 100vw;
    box-shadow: 0px 15px 20px 5px rgba(0, 0, 0, 0.123);
}

.share-social-send-icon {
	background: url(../img/send.svg);
	filter: invert(1);
	height: 20px;
	width: 20px;
}

.favorite {
	width: 15px;
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
	padding-top: 15px;
	text-align: center;
	font-size: 0.75rem;
	cursor: pointer;
	background-image: url(../img/favourite.svg);
	filter: opacity(0.4);
	color: #000000;
	display: none;
}

.favorite.horizontal {
	width: 37.5px;
	padding-left: 15px;
	padding-top: 0;
	background-position: 0 0;
}

.headline-bg-container .headline-bg {
	opacity: 0.2;
	position: absolute;
	bottom: 0;
	right: -10px;
	left: 10px;
	top: 60%;
	z-index: -10;
}

.container-max-width {
	max-width: 1600px;
	margin: auto;
}

.announce-header {
	color: #fff;
	position: absolute;
	z-index: 3;
	width: 100%;
	left: 0;
	background: #000;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 15%, transparent 80%);
	padding: 30px 15px 60px;

	@media screen and (max-width: 750px) {
		margin-top: 60px;
	}
}

.back-btn {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	box-shadow: 1px 1px 3px #939995;
	background: #fff url(../img/chevron-left.svg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: auto 60%;
	cursor: pointer;
}
