.announce-home-presentation {
    position: relative;
    min-height: 350px;
    box-shadow: 0 13px 27px -5px rgba(169,174,171,.6),0 8px 16px -8px rgba(211,214,212,.9)!important;

    @media screen and (min-width: 992px) {
        width: 355px;
        margin-bottom: 75px;
	}

    @media screen and (min-width: 1200px) {
		width: 400px;
	}

}

.announce-main-view .home-presentation {
    margin-top: -59px;
}

.order-lg-1 {
    order: 1;
}

.order-lg-2 {
    order: 2;
}

.map-pin {
    background: url(../img/map-pin.svg);
    height: 27px;
    width: 23px;
	background-repeat: no-repeat;
}

.announce-home-presentation .announce-info-side {
    padding: 30px;
}

.announce-home-presentation .announce-info-side>* {
    margin-bottom: 30px;
}

.profil-pic {
    background: url(../img/profil-pic.png);
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
}

.announce-home-presentation .announce-description-card {
    text-align: justify;
    border-bottom: .5px solid #e5e6e6;
    border-top: .5px solid #e5e6e6;
}

.announce-home-presentation .announce-map-side {
    height: 250px;
    background-color: #f7f7f7;
    overflow: hidden;
}
