{% extends 'base.html.twig' %}

{% block title %}Izidore | membre
{% endblock %}

{% block content %}
	{{ include('./components/header/heroHeader.html.twig') }}
	<div class="announce-main-view container-max-width d-lg-flex">
		<div class="order-lg-2 w-100 px-1 px-sm-3 ps-lg-4 ps-xxl-5 pe-lg-2 pt-3 pt-lg-5">
			<div class="d-flex stuff-tile-grid align-items-stretch justify-content-between flex-wrap p-4">
				{% for product in products %}
					<div class="card mb-4" style="width: 21rem; height: 17rem;">
						<img class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="home-presentation order-lg-1 flex-shrink-0">
			<div class="announce-home-presentation bg-grey">
				<div class="d-flex align-items-center justify-content-center py-3 px-2 bg-green">
					<div class="map-pin"></div>
					<div class="d-flex align-items-center justify-content-center">
						<p class="fw-bold">Junhac, 15120</p>
					</div>
				</div>
				<div class="announce-info-side">
					<div class="d-flex flex-row align-items-center">
						<div class="profil-pic"></div>
						<div class="flex-fill card-infos ps-2">
							<div class="info-container">
								<div class="text-green fw-bold fs-3">Emma</div>
							</div>
						</div>
					</div>
					<div>
						<p class="fw-bold text-grey mb-1">Meubles descendus</p>
						<div class="d-flex align-items-center mb-3 mt-1">
							<i class="material-icons fw-bold text-green fs-2">arrow_downward</i>
							<p class="ps-3" style="font-size: 0.80rem; color: grey;">Emma s'engage à descendre ses meubles au rez-de-chaussée !</p>
						</div>
					</div>
					<div>
						<p class="fw-bold text-grey mb-1">Préférences de retrait</p>
						<div class="d-flex align-items-center mb-3 mt-1">
							<i class="material-icons fw-bold text-green fs-2">calendar_today</i>
							<div class="ps-3">
								<div class="d-flex justify-content-start align-items-center flex-wrap">
									<p class="me-1" style="font-size: 0.80rem; color: grey;">Semaine :</p>
									<p class="fw-bold" style="font-size: 0.80rem;">de 08h à 20h</p>
								</div>
								<div class="d-flex justify-content-start align-items-center flex-wrap">
									<p class="me-1" style="font-size: 0.80rem; color: grey;">Week-end :</p>
									<p class="fw-bold" style="font-size: 0.80rem;">de 08h à 20h</p>
								</div>
							</div>
						</div>
					</div>
					<div class="announce-description-card px-2 px-md-0 py-2 mb-4">
						<div id="description-accord" class="p-2 d-flex align-items-center justify-content-between pointer">
							<p class="fw-bold">Description</p>
							<i class="material-icons">expand_more</i>
						</div>
						<div id="description-content" class="mt-1 mb-2" style="font-size: 0.80rem; color: grey;">
							⚠️ Vide-appartement témoin : rien n'est à vendre !</div>
					</div>
					<div class="btn btn-medium bg-primary text-white w-100 fw-bold mb-0">Contacter le vendeur</div>
				</div>
				<div class="announce-map-side">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2890.438114157305!2d1.4476048157551054!3d43.57658997912392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebc716b8265b7%3A0xf4b2274b1a42384c!2s21%20Rue%20Danton%2C%2031400%20Toulouse!5e0!3m2!1sfr!2sfr!4v1631546169770!5m2!1sfr!2sfr" width="400" height="250" style="border:0;" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
	{{ include('./components/review/review.html.twig') }}

{% endblock %}
