{% extends 'base.html.twig' %}

{% block title %}register | Izidore{% endblock %}

{% block content %}
<div class="vh-100 d-flex align-items-center" style="margin-top: -60px">
    <div class="container">
        <div class="row p-5 d-flex justify-content-center align-items-center">
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <h1 class="display-4">Inscription</h1>
                </div>
                <div class="col-md-6 p-md-">
                    {{ form(form) }}
                </div>
        </div>
    </div>
</div>


{% endblock %}
