<header id="page-header" class="page-header">
	<nav class="navbar bg-white navbar-expand-md navbar-light p-0 fixed-top border-bottom">

		<div class="container-fluid">

			<a class="navbar-brand d-none d-md-block fs-1 p-0" href="#">Izidore</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse w-100 justify-content-center" id="navbarSupportedContent">
				<form class="d-flex position-relative w-50">
					<input id="navbar-input" class="form-control rounded-pill" type="search" placeholder="Quel produit vous ferait plaisir ?" aria-label="Search">
					<button id="header-search-btn" class="btn bg-secondary rounded-pill position-absolute" type="submit">
						<i class="material-icons fw-bold" style="font-size:25px;color:black;">search</i>
					</button>
				</form>
			</div>

			<div class="d-flex align-items-center">
				<button class="btn bg-primary text-white m-2 fw-bold d-none d-md-block">VENDRE</button>
				<a class="navbar-brand" href="#">
					<div class="favorite-icon" src="#" alt=""></div>
				</a>
				<a class="navbar-brand" href="#">
					<div class="cart-icon" src="#" alt=""></div>
				</a>
				<a class="navbar-brand" href="#">
					<div class="user-icon" src="#" alt=""></div>
				</a>
			</div>

		</div>
	</nav>
	<div id="header-bot" class="container-fluid p-3 border-bottom position-relative d-none d-md-block">
		<div class="d-flex justify-content-between fw-light">

			<ul class="d-flex my-auto">
				<li>BESTS</li>
				<li>MEUBLES</li>
				<li>ÉLECTROMÉNAGER</li>
				<li>DÉCORATION</li>
				<li>MARQUES</li>
				<li>VILLES</li>
			</ul>

			<ul class="d-flex my-auto">
				<li>COMMENT ÇA MARCHE ?</li>
				<li>CONSEILS</li>
				<li>BLOG</li>
			</ul>

		</div>
	</div>

</div>
