<header>
	<div class="announce-header">
		<div class="d-flex flex-column flex-md-row justify-content-start align-items-stretch justify-content-md-between align-items-md-center container-max-width">

			<div class="d-flex justify-content-start align-items-center">
				<a href="" class="flex-shrink-0 flex-grow-0 back-btn me-1 me-md-2 initialised'"></a>
				<h1 class="h2 me-2 me-md-3 text-white">
					<span class="headline-bg-container position-relative">
						<span class="headline-bg light bg-primary-2"></span>
						<span class="headline-txt text-semi-bold">
							<span class="d-none d-md-inline-block">BIENVENUE</span>
							<span>CHEZ EMMA</span>
						</span>
					</span>
				</h1>
			</div>

			<div class="align-self-end align-self-md-auto mt-1 mt-md-0 d-flex align-items-center">
				<div class="bg-white py-1 ps-2 pe-1 rounded shadow-4 me-2 me-md-3">

					<div class="favorite horizontal d-block" data-count="10" data-type="announce">
						<span>10</span>
					</div>
				</div>

				<div class="position-relative">
					<div class="share-social-control d-flex justify-content-center align-items-center" data-copy-to-clipboard="http://izidore.com/vide-appart/appartement-junhac/18650" data-original-title="" title="" style="cursor: pointer;">
						<div class="share-social-send-icon white"></div>
						<p class="ps-1">Envoyer à un ami</p>
					</div>
				</div>

			</div>

		</div>
	</div>
	<section class="announce-cover-image-section">
		<div class="announce-cover-image-blur-container">
			<div class="announce-cover-image-blur">ok</div>
		</div>
		<div class="announce-cover-image-container d-flex justify-content-center">
			<div class="announce-cover-image">ok</div>
		</div>
		<div class="shadow"></div>
	</section>
</header>
