<div id="review-container" class="container-max-width border bg-grey p-4 mb-5 mt-4">
	<div class="d-flex justify-content-center mb-2">
		<p id="no-comment" class="fw-bold fs-4">Emma n'a pas encore de commentaire. 😉</p>
	</div>
	<div id="reviews-container" class="d-flex justify-content-center"></div>
	{% if is_granted('ROLE_USER') %}
		<hr>
		<div class="d-flex justify-content-center mt-4">
			<div id="review-form" class="w-100">
				<form id="review-form" action="" method="post">
					<div class="mb-3">
						<textarea name="review-content" class="form-control" id="review-content" rows="3"></textarea>
					</div>
					<input id="btn-review-form" class="btn btn-medium bg-primary text-white w-100" type="button" value="Ajouter un commentaire">
				</form>
			</div>
		</div>
	{% endif %}
	{# <div id="btn-review-form" class="btn btn-medium bg-primary text-white w-100">Ajouter un commentaire</div> #}
</div>
