<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		{% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
		<title>
			{% block title %}
				Izidore
			{% endblock %}
		</title>
	</head>
	<body class="body sticky-container announce-show after-load">
		<div class="container-fluid g-0">
			<div class="row">
				{{ include('./components/header/header.html.twig') }}
			</div>
			<div class="row">
				<main class="container-fluid ps-4 pe-4">
							{% block content %}{% endblock %}
				</main>
			</div>
		</div>
	</body>
</html>
